  <div class="row">
    <div class = "small-offset-3 small-6 columns">
    <h2 style="text-align:center">My Account</h2>
    </div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <h3 style="text-align:center">Edit <%= resource_name.to_s.humanize %></h3>
    </div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <% if current_user.profile_photo %>
      <img id="profile_photo" src="<%= current_user.profile_photo %>" height=300 width=300 />
      <% end %>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <h6 style="text-align:center">
        <%= f.label :profile_photo, class: 'input-group-label' %>
      <%= f.text_field :profile_photo%></h6>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :username, class: 'input-group-label' %>
      <%= f.text_field :username, autofocus: true %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :email, class: 'input-group-label' %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :contact_number, class: 'input-group-label' %>
      <%= f.text_field :contact_number, autofocus: true %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :organization, class: 'input-group-label' %>
      <%= f.text_field :organization, autofocus: true %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>
  <% end %>
<div class="row">
  <% if @minimum_password_length %>
  <div class = "small-offset-3 small-6 columns">
    <p style="text-align:center"><em><%= @minimum_password_length %> characters minimum</em></p>
  </div>
  <div class = "small-offset-3 columns"></div>
  <% end %>
</div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :password, class: 'input-group-label' %>
      <%= f.password_field :password, autocomplete: "off" %>
      <p style="text-align:center"><i>(leave blank if you want to keep your current password)</i></p>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :password_confirmation, "Password Confirmation", class: "input-group-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <p style="text-align:center"><i>(leave blank if you want to keep your current password)</i></p>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :current_password, "Current Password", class: "input-group-label" %>
      <%= f.password_field :current_password, autocomplete: "off" %>
      <p style="text-align:center"><i>(we need your current password to confirm your changes)</i></p>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <h3 style="text-align:center"><%= f.submit "Update"%></h3>
    </div>
    <div class = "small-offset-3 small-6 columns"></div>
  </div>
<% end %>
</br>
<div class="row">
  <div class = "small-offset-3 small-6 columns">
    <h3 style="text-align:center"><i>Unhappy?<i></h3>
    <p style="text-align:center">Cancel my account <div class="delete-button" <%= button_to "Delete Account", registration_path(resource_name), method: :delete, class: "delete-button"%></div></p>
  </div>
</div>
</br>
<div class="row">
  <div class = "small-offset-3 small-6 columns">
      <h3 style="text-align:center"><%= link_to "Go Back", root_path %></h3>
    </div>
  </div>
  <div class = "small-offset-3 columns">
</div>
