<br></br>
<%= form_for (@event) do |f| %>
  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :event_name, "Event Name", class: 'input-group-label' %>
        <%= f.text_field :event_name, autofocus: true, placeholder: "Name of Event" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :event_date, "Event Date", class: 'input-group-label' %>
        <%= f.text_field :event_date, autofocus: true, placeholder: "mm/dd/yy" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :event_time, "Event Time", class: 'input-group-label' %>
        <%= f.text_field :event_time, autofocus: true, placeholder: "e.g. 12:00 PM" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :address, class: 'input-group-label' %>
        <%= f.text_field :address, autofocus: true, placeholder: "e.g. 123 Main St" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :city, class: 'input-group-label' %>
        <%= f.text_field :city, autofocus: true, placeholder:"" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :state, class: 'input-group-label' %>
        <%= f.text_field :state, autofocus: true, placeholder: "" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :zip, class: 'input-group-label' %>
        <%= f.text_field :zip, autofocus: true, placeholder: "5 digits" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :neighborhood, class: 'input-group-label' %>
        <%= f.text_field :neighborhood, autofocus: true, placeholder: "e.g. Fairmount" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

  <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= f.label :description, class: 'input-group-label' %>
        <%= f.text_area :description, autofocus: true, placeholder: "Description of event" %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>

    <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <p style="text-align:center"><%= f.submit "Create Event", class: "submit"%></p>
      </div>
      <div class = "small-offset-3 small-6 columns"></div>
    </div>
<% end%>
